
aplProject/obj/Debug/

aplProject/bin/Debug/

.vs/aplProject/v16/

cppDLL/x64/Debug/

FractalGenerationCpp/Debug/

*.tlog

x64/Debug/

Win32/Debug/

FractalGenerationCpp/x64/Debug/

*.log

*.png

Asm/x64/Debug/AsmLibrary.obj

Asm/x64/
.vs/
